{% extends "layout.html" %}
  
{% block title %}Entrepreneurship{% endblock %}
{% block lead %}The entrepreneurship prize recognizes exceptional effort to build a business case and commercialize an iGEM project.{% endblock %}

{% block page_content %}
<div class="row mt-4">
  <div class="col-lg-8">
  <br><br>
  <h1>Equolity: Revolutionizing Menopause Treatment</h1>
  <hr>

  <p>As the global demographic evolves, the challenge of menopause confronts a growing number of women. This inevitable transition is often accompanied by a myriad of distressing side effects. Although hormone-replacement therapy offers some relief, its severe side effects render it a less-than-ideal solution. Recognizing this unmet need, our iGEM research sowed the seeds for Equolity Bio, with a vision to revolutionize menopause treatment using equol.</p>

  <p>Equol, a promising phytoestrogen, mirrors the effects of estrogen in the human body. However, current extraction methods make it prohibitively expensive, with effective doses priced at an eye-watering $40,000. Our innovative solution employs specific bacteria to produce equol from daidzein, making it both scalable and affordable.</p>

  <p>While our iGEM team remains immersed in research, pushing boundaries and uncovering new possibilities, our entrepreneurial spirit thrives parallelly. We've presented our groundbreaking idea across esteemed platforms and competitions, securing significant funding from:</p>

  <ul>
      <li><a href="https://venturelab.upenn.edu/innovation-fund">Penn Wharton Innovation Fund</a>: Their backing was instrumental in advancing our preliminary research, underlining the potential of our innovative approach.</li>
      <li><a href="https://www.cmuvc.com/details">CMU Startup Competition Prize</a>: Winning this esteemed prize from Carnegie Mellon propelled our research and added momentum to our journey.</li>
      <li><a href="https://ysph.yale.edu/innovate-health-yale/impact-grants-for-social-ventures/rita-wilson-seed-grant/">Rita Wilson Prize Fund</a> in support of Innovation and Entrepreneurship: At Startup Yale's 2023 pitch competitions, our concept not only resonated but triumphed, earning us this prestigious prize and furthering our vision.</li>
  </ul>

  <p>These accolades are not just financial catalysts but represent the interdisciplinary trust and enthusiasm for our mission. This blend of academic research and entrepreneurial spirit puts us in a unique position, combining rigorous science with real-world impact.</p>

  <p>We recognize the significant need in the women's health sector and are actively working to address it. While our primary focus is on delivering a reliable solution for menopause symptoms, we're also conscious of the environmental implications of our methods and aim for sustainable processes.</p>

  <p>Equolity’s mission is straightforward: to improve the quality of life for women experiencing menopause. We believe that with dedicated research and a clear focus, we can make a meaningful difference.</p>

  <p><a href="https://www.youtube.com/watch?v=PolDOzpc3zU">Watch our presentation at Startup Yale 2023 Rita Wilson Pitch</a> (where Hassaan Qadir, Yale 2022 Team member and current Yale iGEM Mentor, presented to investors and judges.)</p>

<iframe title="Yale: The Rita Wilson Prize in Support of Innovation and Entrepreneurship in Health Technology - Equ... (2023) [English]" width="560" height="315" src="https://video.igem.org/videos/embed/afe41e8d-eef3-4d68-aee3-9ed5c63cde6b" frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups"></iframe>
  <br>
  </div>
  </div>
</html>





<!-- 
<div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h4>Best Supporting Entrepreneurship</h4>
      <p>The Best Supporting Entrepreneurship award recognizes exceptional effort to build a business case and commercialize an iGEM project. This award is open to all teams to show that entrepreneurship is something all teams can aspire to do with their project. This award can go to an new project, or to a previous project that a team aimed to commercialize. Have you filed a provisional patent on your project/device/process? Have you raised money to build and ship products? Have you pitched your idea to investors and received money? As always in iGEM, the aim is to impress the judges!</p>
      <p>To compete for the Best Supporting Entrepreneurship prize, please describe your work on this page and also fill out the description on the <a href="https://competition.igem.org/deliverables/judging-form">judging form</a>.</p>
      <hr>
      <p>Please see the <a href="https://competition.igem.org/judging/awards">2023 Awards Page</a> for more information.</p>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-lg-8">
    <h2>Patents and intellectual property</h2>
    <hr>
    <p>If your team is seriously considering commercializing and looking into building a company after the competition, you may want to look at how you are going to protect your work and secure investment. Investors will usually require some form of intellectual protection, so you may want to investigate how to apply for a patent or provisional patent in your country and region before disclosing your project at iGEM. Remember that you can only be evaluated in iGEM based on what you share on your wiki and at the Jamboree, so any work you don't present can't count towards your project.</p>
    <p>This is an area where we are different as we care about sharing, openness and contributing to the community and investors don't always agree with these values. It is up to you and your team to decide what to do. Remember that most universities have a commercialization department and that you can talk to them before coming to a decision.</p>
  </div>
  <div class="col-lg-4">
    <h2>Inspirations</h2>
    <hr>
    <ul>
      <li><a href="https://2019.igem.org/Team:UCopenhagen/Entrepreneurship">2019 UCopenhagen</a></li>
      <li><a href="https://2019.igem.org/Team:Thessaly/Entrepreneurship">2019 Thessaly</a></li>
      <li><a href="https://2019.igem.org/Team:NCKU_Tainan/Entrepreneurship">2019 NCKU Tainan</a></li>
      <li><a href="https://2020.igem.org/Team:TAS_Taipei/Entrepreneurship">2020 TAS Taipei</a></li>
      <li><a href="https://2020.igem.org/Team:KCL_UK/Entrepreneurship">2020 KCL UK</a></li>
      <li><a href="https://2020.igem.org/Team:Calgary/Entrepreneurship">2020 Calgary</a></li>
    </ul>
  </div>
</div> -->

{% endblock %}
