{% extends "layout.html" %}
  
{% block title %}Notebook{% endblock %}
{% block lead %}Document the dates you worked on your project. This should be a detailed account of the work done each day for your project.{% endblock %}

{% block page_content %}


<div class="col-lg-8">
  <br><h3>Week 1</h3><hr>
  <a href="https://static.igem.wiki/teams/4947/wiki/23-06-01-miniprep-pcargo-and-transformation-of-entry-vectors-benchling.pdf">23-06-01 Miniprep Pcargo and Transformation of Entry Vectors</a><br>
  <a href="https://static.igem.wiki/teams/4947/wiki/23-06-02-pcr-amplification-and-diagnostic-age-of-pz-promoter-benchling.pdf">23-06-02 PCR Amplification and Diagnostic Age of Pz Promoter</a><br>
  <a href="https://static.igem.wiki/teams/4947/wiki/23-06-03-pz-fragment-purification-glycerol-stocks-of-entry-vectors-and-pz-miniprep-of-genes-entry-vectors-and-gga-reactions-benchling.pdf">23-06-03 Pz Fragment Purification Glycerol Stocks of Entry Vectors and Pz Miniprep of Genes Entry Vectors and Gga Reactions</a><br>
  <a href="https://static.igem.wiki/teams/4947/wiki/23-06-04-transformation-of-assembly-vectors-with-drop-dialysis-benchling.pdf">23-06-04 Transformation of Assembly Vectors with Drop Dialysis</a><br>
  <br><h3>Week 2</h3><hr>
  <a href="https://static.igem.wiki/teams/4947/wiki/23-06-05-re-gga-of-initial-assemblies-benchling.pdf">23-06-05 Re Gga of Initial Assemblies</a><br>
  <a href="https://static.igem.wiki/teams/4947/wiki/23-06-06-transformation-of-re-gga-for-assembly-vectors-plating-of-equol-strains-inoculation-of-eql-donor-strain-benchling.pdf">23-06-06 Transformation of Re Gga for Assembly Vectors Plating of Equol Strains Inoculation of Eql Donor Strain</a><br>
  <a href="https://static.igem.wiki/teams/4947/wiki/23-06-07-plating-of-eql-strains-results-glycerol-stocks-of-stig117-transformation-of-stig117-with-eql-plasmids-with-plating-of-stig118-stig123-benchling.pdf">23-06-07 Plating of Eql Strains Results Glycerol Stocks of Stig117 Transformation of Stig117 with Eql Plasmids with Plating of Stig118 Stig123</a><br>
  <a href="https://static.igem.wiki/teams/4947/wiki/23-06-08-re-transformation-of-donor-re-plating-of-transformations-from-23-06-07-screening-of-assembly-colonies-part-1-benchling.pdf">23-06-08 Re Transformation of Donor Re Plating of Transformations from 23-06-07 Screening of Assembly Colonies Part 1</a><br>
  <a href="https://static.igem.wiki/teams/4947/wiki/23-06-09-screening-of-assembly-colonies-part-2-inoculation-of-successful-assembly-strains-benchling.pdf">23-06-09 Screening of Assembly Colonies Part 2 Inoculation of Successful Assembly Strains</a><br>
  <a href="https://static.igem.wiki/teams/4947/wiki/23-06-11-inoculations-of-strains-in-eql-assay-2-inoculations-of-some-assembly-colonies-benchling.pdf">23-06-11 Inoculations of Strains in Eql Assay 2 Inoculations of Some Assembly Colonies</a><br>
  <br><h3>Week 3</h3><hr>
  <a href="https://static.igem.wiki/teams/4947/wiki/23-06-12-conjugation-prep-of-donor-and-recipient-strains-for-eql-integrase-assay-miniprep-of-gga-assemblies-for-sequencing-glycerol-stocks-pcr-diagnostic-of-gga-assemblies-plasmidsaurus-sequencing-benchling.pdf">23-06-12 Conjugation Prep of Donor and Recipient Strains for Eql Integrase Assay Miniprep of Gga Assemblies for Sequencing Glycerol Stocks PCR Diagnostic of Gga Assemblies Plasmidsaurus Sequencing</a><br>
  <a href="https://static.igem.wiki/teams/4947/wiki/23-06-13-conjugation-inoculation-plating-of-strains-for-eql-integrase-assay-wps-analysis-age-of-pcr-screening-pcr-diagnostic-of-assembly-plasmids-control-gga-a111-benchling.pdf">23-06-13 Conjugation Inoculation Plating of Strains for Eql Integrase Assay WPS Analysis Age of PCR Screening PCR Diagnostic of Assembly Plasmids Control Gga A111</a><br>
  <a href="https://static.igem.wiki/teams/4947/wiki/23-06-15-diagnostic-pcr-age-of-gga-controls-glycerol-stocks-of-conjugated-recipients-benchling.pdf">23-06-15 Diagnostic PCR Age of Gga Controls Glycerol Stocks of Conjugated Recipients</a><br>
  <a href="https://static.igem.wiki/teams/4947/wiki/23-06-16-pcr-amplification-and-purification-of-a-b-c-backbone-gibson-assembly-module-a-plasmid-benchling.pdf">23-06-16 PCR Amplification and Purification of A B C Backbone Gibson Assembly Module A Plasmid</a><br>
  <a href="https://static.igem.wiki/teams/4947/wiki/23-06-17-transformation-of-gibson-assembly-entry-vectors-benchling.pdf">23-06-17 Transformation of Gibson Assembly Entry Vectors</a><br>
  <br><h3>Week 4</h3><hr>
  <a href="https://static.igem.wiki/teams/4947/wiki/23-06-19-PCR-colony-screening-of-ga-plasmid-transformations-benchling.pdf">23-06-19 PCR Colony Screening of Ga Plasmid Transformations</a><br>
  <a href="https://static.igem.wiki/teams/4947/wiki/23-06-20-repeat-of-PCR-colony-screening-amplification-of-pz-b-and-pz-c-gga-of-modular-plasmids-and-transformation-of-gga-s-benchling.pdf">23-06-20 Repeat of PCR Colony Screening Amplification of Pz B and Pz C Gga of Modular Plasmids and Transformation of Gga S</a><br>
  <a href="https://static.igem.wiki/teams/4947/wiki/23-06-21-miniprep-of-original-entry-vectors-plating-of-modular-ggas-age-on-gga-pcr-assemblies-sanger-sequencing-of-gibsons-benchling.pdf">23-06-21 Miniprep of Original Entry Vectors Plating of Modular Ggas Age on Gga PCR Assemblies Sanger Sequencing of Gibsons</a><br>
  <a href="https://static.igem.wiki/teams/4947/wiki/23-06-22-miniprep-of-original-entry-vectors-gga-controls-and-PCR-screening-using-gga-assemblies-benchling.pdf">23-06-22 Miniprep of Original Entry Vectors Gga Controls and PCR Screening Using Gga Assemblies</a><br>
  <a href="https://static.igem.wiki/teams/4947/wiki/23-06-23-miniprep-of-original-entry-vectors-troubleshooting-benchling.pdf">23-06-23 Miniprep of Original Entry Vectors Troubleshooting</a><br>
  <a href="https://static.igem.wiki/teams/4947/wiki/23-06-24-miniprep-of-ga-entry-vectors-for-sequencing-benchling.pdf">23-06-24 Miniprep of Ga Entry Vectors for Sequencing</a><br>
  <br><h3>Week 5</h3><hr>
  <a href="https://static.igem.wiki/teams/4947/wiki/23-06-26-gga-for-bsai-site-assay-PCR-PCR-of-all-modular-gga-s-re-send-gibsons-pcargo-and-equol-strains-for-sanger-sequencing-benchling.pdf">23-06-26 Gga for BSAI Site Assay PCR PCR of All Modular Gga S Re-Send Gibsons Pcargo and Equol Strains for Sanger Sequencing</a><br>
  <a href="https://static.igem.wiki/teams/4947/wiki/23-06-28-enzyme-digestion-assay-gga-junction-assay-gibson-amplicon-creation-eql-calibration-curve-benchling.pdf">23-06-28 Enzyme Digestion Assay Gga Junction Assay Gibson Amplicon Creation EQL Calibration Curve</a><br>
  <a href="https://static.igem.wiki/teams/4947/wiki/23-06-29-enzyme-digestion-assay-retry-gga-amplicon-purification-retry-gga-amplicon-pcr-eql-calibration-curve-analysis-benchling.pdf">23-06-29 Enzyme Digestion Assay Retry Gga Amplicon Purification Retry Gga Amplicon PCR EQL Calibration Curve Analysis</a><br>
  <a href="https://static.igem.wiki/teams/4947/wiki/23-06-30-gibson-assembly-and-transformation-of-wga-modules-EQL-calibration-analysis-benchling.pdf">23-06-30 Gibson Assembly and Transformation of WGA Modules EQL Calibration Analysis</a><br>
  <a href="https://static.igem.wiki/teams/4947/wiki/23-07-01-pcr-colony-screening-of-ga-modules-benchling.pdf">23-07-01 PCR Colony Screening of GA Modules</a><br>
  <br><h3>Week 6</h3><hr>
  <a href="https://static.igem.wiki/teams/4947/wiki/23-07-03-mini-prep-and-wps-of-inoculated-colonies-diagnostic-pcr-on-ga-products-feeding-experiment-benchling.pdf">23-07-03 Mini-prep and WPS of Inoculated Colonies Diagnostic PCR on GA Products Feeding Experiment</a><br>
  <a href="https://static.igem.wiki/teams/4947/wiki/23-07-04-re-ga-of-modular-plasmids-extra-dpni-digest-of-pcargo-transform-initial-ga-modular-plasmids-trial-run-of-equol-feeding-experiment-benchling.pdf">23-07-04 Re-GA of Modular Plasmids, Extra DpNI Digest of PCARGO, Transform Initial GA Modular Plasmids, Trial Run of Equol Feeding Experiment</a><br>
  <a href="https://static.igem.wiki/teams/4947/wiki/23-07-05-plating-of-re-ga-modular-plasmids-and-re-electroporation-of-og-ga-s-colony-pcr-junction-screening-of-og-ga-s-equol-feeding-experiment-and-extraction-positive-control-benchling.pdf">23-07-05 Plating of Re-GA Modular Plasmids and Re-electroporation of OG-GA-S, Colony PCR Junction Screening of OG-GA-S, Equol Feeding Experiment, and Extraction Positive Control</a><br>
  <a href="https://static.igem.wiki/teams/4947/wiki/23-07-06-colony-pcr-screening-of-re-ga-modules-amplification-of-gga-amplicon-equol-feeding-and-extraction-experiments-round-1-benchling.pdf">23-07-06 Colony PCR Screening of Re-GA Modules, Amplification of GGA Amplicon, Equol Feeding, and Extraction Experiments (Round 1)</a><br>
  <a href="https://static.igem.wiki/teams/4947/wiki/23-07-07-pcr-purification-assay-mini-prep-of-potential-colonies-test-gga-transformation-equol-feeding-experiment-benchling.pdf">23-07-07 PCR Purification Assay, Mini-prep of Potential Colonies, Test GGA Transformation, Equol Feeding Experiment</a><br>
  <a href="https://static.igem.wiki/teams/4947/wiki/23-07-08-colony-junction-screening-equol-feeding-experiments-benchling.pdf">23-07-08 Colony Junction Screening, Equol Feeding Experiments</a><br>
  <a href="https://static.igem.wiki/teams/4947/wiki/23-07-09-colony-junction-screening-test-ga-benchling.pdf">23-07-09 Colony Junction Screening, Test GA</a><br>
  <br><h3>Week 7</h3><hr>
  <a href="https://static.igem.wiki/teams/4947/wiki/23-07-10-a-gga-amplification-ga-attempt-1-colony-screening-retry-benchling.pdf">23-07-10 (A) GGA Amplification, GA Attempt 1, Colony Screening Retry</a><br>
  <a href="https://static.igem.wiki/teams/4947/wiki/23-07-13-miniprep-glycerol-stock-successful-ga-and-gga3-for-sequencing-transformation-of-test-gga-benchling.pdf">23-07-13 Mini-prep, Glycerol Stock, Successful GA and GGA3 for Sequencing, Transformation of Test GGA</a><br>
  <a href="https://static.igem.wiki/teams/4947/wiki/23-07-14-wps-analysis-of-sequenced-modular-plasmids-b1-m-and-full-gga-junction-screening-conjugation-for-eql-feeding-benchling.pdf">23-07-14 WPS Analysis of Sequenced Modular Plasmids B1-M and Full GGA, Junction Screening, Conjugation for EQL Feeding</a><br>
  <a href="https://static.igem.wiki/teams/4947/wiki/23-07-15-miniprep-of-remaining-modular-plasmids-for-sequencing-b1-m-junction-screening-benchling.pdf">23-07-15 Mini-prep of Remaining Modular Plasmids for Sequencing, B1-M Junction Screening</a><br>
  <a href="https://static.igem.wiki/teams/4947/wiki/23-07-16-more-b1-m-colony-pcr-screening-benchling.pdf">23-07-16 More B1-M Colony PCR Screening</a><br>
  <br><h3>Week 8</h3><hr>
  <a href="https://static.igem.wiki/teams/4947/wiki/23-07-17-sending-more-plasmids-for-wps-backup-colony-pcr-screen-daidzein-concentration-optimization-benchling.pdf">23-07-17 Sending More Plasmids for WPS Backup, Colony PCR Screen, Daidzein Concentration Optimization</a><br>
  <a href="https://static.igem.wiki/teams/4947/wiki/23-07-18-wps-analysis-electroporation-of-stig117-with-correct-module-plasmids-isolig-and-lig-and-dzn-standard-curves-conjugation-of-putida-inducer-experiment-equol-benchling.pdf">23-07-18 WPS Analysis, Electroporation of STIG117 with Correct Module Plasmids, IsoLig and Lig, DZN Standard Curves, Conjugation of P.utida Inducer Experiment, Equol</a><br>
  <a href="https://static.igem.wiki/teams/4947/wiki/23-07-20-conjugation-of-modular-plasmid-strains-into-dh10lp-miniprep-of-ga-module-strains-transformation-of-asd-with-all-b1-g3-plasmids-standard-curves-for-intermediates-extraction-lcms-for-validation-of-initial-equol-experiment-benchling.pdf">23-07-20 Conjugation of Modular Plasmid Strains into DH10LP, Mini-prep of GA Module Strains, Transformation of ASD with All B1-G3 Plasmids, Standard Curves for Intermediates, Extraction, LCMS for Validation of Initial Equol Experiment</a><br>
  <a href="https://static.igem.wiki/teams/4947/wiki/23-07-21-amplification-of-test-run-full-assembly-from-modular-plasmids-inoculations-benchling.pdf">23-07-21 Amplification of Test Run, Full Assembly from Modular Plasmids, Inoculations</a><br>
  <a href="https://static.igem.wiki/teams/4947/wiki/23-07-22-plating-of-final-module-strains-full-assembly-amplification-optimization-ga-of-full-assembly-benchling.pdf">23-07-22 Plating of Final Module Strains, Full Assembly Amplification Optimization, GA of Full Assembly</a><br>
  <a href="https://static.igem.wiki/teams/4947/wiki/23-07-23-test-feeding-experiment-full-assembly-pcr-colony-screen-benchling.pdf">23-07-23 Test Feeding Experiment, Full Assembly PCR Colony Screen</a><br>
  <br><h3>Week 9</h3><hr>
  <a href="https://static.igem.wiki/teams/4947/wiki/23-07-24-homolog-optimization-lcms-begin-final-daidzein-plasmid-construction-lc-ms-of-equol-validation-experiment-benchling.pdf">23-07-24 Homolog Optimization, LCMS, Begin Final Daidzein Plasmid Construction, LC-MS of Equol Validation Experiment</a><br>
  <a href="https://static.igem.wiki/teams/4947/wiki/23-07-25-final-daidzein-plasmid-construction-transformation-and-plating-benchling.pdf">23-07-25 Final Daidzein Plasmid Construction, Transformation, and Plating</a><br>
  <a href="https://static.igem.wiki/teams/4947/wiki/23-07-26-final-daidzein-plasmid-construction-colony-screen-and-inoculation-inoculation-of-stig117-benchling.pdf">23-07-26 Final Daidzein Plasmid Construction, Colony Screen and Inoculation, Inoculation of STIG117</a><br>
  <a href="https://static.igem.wiki/teams/4947/wiki/23-07-27-final-daidzein-plasmid-construction-miniprep-and-wps-electroporation-of-stig117-with-final-daidzein-plasmid-benchling.pdf">23-07-27 Final Daidzein Plasmid Construction, Mini-prep and WPS, Electroporation of STIG117 with Final Daidzein Plasmid</a><br>
  <br><h3>Week 10</h3><hr>
  <a href="https://static.igem.wiki/teams/4947/wiki/23-07-28-inoculation-of-transformed-stig117-for-glycerol-stock-benchling.pdf">23-07-28 Inoculation of Transformed STIG117 for Glycerol Stock</a><br>
  <a href="https://static.igem.wiki/teams/4947/wiki/23-07-31-colony-pcr-of-full-assembly-extraction-of-modular-feeding-lc-ms-on-daidzein-concentration-curve-benchling.pdf">23-07-31 Colony PCR of Full Assembly, Extraction of Modular Feeding, LC-MS on Daidzein Concentration Curve</a><br>
  <a href="https://static.igem.wiki/teams/4947/wiki/23-08-01-lc-ms-on-equol-strains-and-modular-strains-homolog-optimization-benchling.pdf">23-08-01 LC-MS on Equol Strains and Modular Strains, Homolog Optimization</a><br>
  <a href="https://static.igem.wiki/teams/4947/wiki/23-08-02-induction-and-feeding-for-equol-in-different-strains-experiment-benchling.pdf">23-08-02 Induction and Feeding for Equol in Different Strains Experiment</a><br>
  <a href="https://static.igem.wiki/teams/4947/wiki/23-08-04-lc-ms-of-nissle-vs-dh10b-equol-strains-and-thorough-inventory-benchling.pdf">23-08-04 LC-MS of Nissle vs. DH10B Equol Strains and Thorough Inventory</a>
  <br><br>
</div>  


</div>  

<!-- <div class="row mt-4">
  <div class="col-lg-8">
    <h2>What should this page contain?</h2>
    <hr>
    <ul>
      <li>Chronological notes of what your team is doing.</li>
      <li>Brief descriptions of daily important events.</li>
      <li>Pictures of your progress.</li>
      <li>Mention who participated in what task.</li>
    </ul>
  </div>
  <div class="col-lg-4">
    <h2>Inspirations</h2>
    <hr>
    <ul> 
      <li><br><a href="http://2018.igem.org/Team:Munich/Notebook">2018 Munich</a></li>
      <li><br><a href="https://2019.igem.org/Team:Georgia_State/Notebook">2019 Georgia State</a></li>
      <li><br><a href="https://2019.igem.org/Team:Newcastle/Notebook">2019 Newcastle</a></li>
      <li><br><a href="https://2020.igem.org/Team:IISER-Pune-India/Notebook">2020 IISER Pune India</a></li>
      <li><br><a href="https://2020.igem.org/Team:Lund/Notebook">2020 Lund</a></li>
      <li><br><a href="https://2020.igem.org/Team:NOVA_LxPortugal/Notebook">2020 NOVA LxPortugal</a></li>
      <li><br><a href="https://2020.igem.org/Team:RDFZ-China/NoteBook">2020 RDFZ China</a></li>
    </ul>
  </div>
</div> -->

{% endblock %}
