{% extends "layout.html" %}
  
{% block title %}Safety{% endblock %}

{% block page_content %}

<div class="col-lg-8 ">
  <br>
  <h2>Safety and Security 
  </h2>
  <hr>
  <p>Synthetic biology, while promising, requires the utmost care to ensure that its potential is realized in a safe and secure environment. At Yale iGEM, our commitment goes beyond theoretical understanding – it encompasses practical applications that prioritize safety. By employing biological engineering to manage potential risks, we're dedicated to making synthetic biology safer and more reliable for all.
  </p>

  <br>
  <h2>Safe Project Design
  </h2>
  <hr>
  <p>Our design decisions are dictated by safety considerations:
  </p>
  <li>Chassis Selection: We opted for a non-pathogenic chassis to ensure safety, minimizing the potential risks associated with the release or mishandling of our genetically modified organisms.
  </li>
  <li>Safe Parts Selection: Our parts have been chosen to ensure that they pose no harm to humans, animals, or the environment.
  </li>
  <li>Material Substitution: In our proof-of-concept experiments, we replaced hazardous materials with safer alternatives wherever possible.
  </li>

  <br>
  <h2>Safe Lab Work
  </h2>
  <hr>
  <p>Every day at the lab, we adhere to rigorous safety protocols:
  </p>
  <li>Standard Operating Procedures: Our team strictly adheres to Yale's lab safety guidelines, using PPE at all times and following correct waste disposal practices.
  </li>
  <li>Special Protocols for Unusual Experiments: For any non-standard experiments, we conduct risk assessments and design custom safety protocols, ensuring that the team is prepared and protected.
  </li>
  <li>Continuous Training: Regular safety workshops and drills ensure our team is always updated on the best safety practices.
  </li>
  <p>Safety isn't just a checklist for us. It is an integral part of how we think, plan, and execute our projects.
  </p>
  <br>
</div>

{% endblock %}
