{% extends "layout.html" %}

{% block title %}Team{% endblock %}
{% block lead %}{% endblock %}

{% block page_content_ns %}
<div class="description-container">
  <div class="team-description">
    <h3>Who we are</h3>
    <p>Our team of six rising-sophomore undergraduates works under the support
      of the Isaacs Lab at Yale, graduate student mentors, and an undergraduate board. Blending experience in synthetic biology,
       computer & data science, and web development, we strive to bring together diverse perspectives towards our goal of
      producing pathways for equol-based therapeutics.
    </p>
  </div>
  <div class="team-cycle-svg">
    <img src="https://static.igem.wiki/teams/4947/wiki/notebook/safety-form-lab-photos/new-team.svg" alt="SVG Image">
  </div>
</div>

<div class="team-container">
  <header class="team-header display-4">Undergrads</header>

  <div class="name-card">
    <div class="photo-circle">
      <img class="profile-pic" src="https://static.igem.wiki/teams/4947/wiki/notebook/safety-form-lab-photos/david.jpeg" alt="PNG Image">

</div>
    <div class="card-info">
      <div class="card-name">David Jeong</div>
      <div class="card-yr-team">Wet Lab, 2026</div>
      <hr class="card-break">
      <div class="card-bio">
        Hi! I’m David and I’m studying Computer Science with an interest in biotechnology. A random fact about me is that I play violin and I performed for Hilary Hahn in a small masterclass last year.
          </div>
    </div>
  </div>

  <div class="name-card"><div class="photo-circle">
    <img class="profile-pic lior" src="https://static.igem.wiki/teams/4947/wiki/notebook/safety-form-lab-photos/lior.jpeg" alt="PNG Image">
</div>
  <div class="card-info">
    <div class="card-name">Lior Gurion</div>
    <div class="card-yr-team">Wet Lab, 2026</div>
    <hr class="card-break">
    <div class="card-bio">
      Hi! I am studying Molecular Biophysics and Biochemistry with a concentration in Medicine. I am also an avid soccer player and a fan of Liverpool FC.
        </div>
  </div></div>


  <div class="name-card"><div class="photo-circle">
    <img class="profile-pic" src="https://static.igem.wiki/teams/4947/wiki/notebook/safety-form-lab-photos/will.jpg" alt="PNG Image">
</div>
  <div class="card-info">
    <div class="card-name">Williams Liu</div>
    <div class="card-yr-team">Wet Lab, 2026</div>
    <hr class="card-break">
    <div class="card-bio">
      Hello! I study biochemistry on the premed track with some emphasis on computer science. I'm also interested in lots of other things, like psychology and writing. In my free time, I love to create pixel art and enjoy outdoor activities (like camping, gardening, and hiking)!
        </div>
  </div></div>

  <div class="name-card">
    <div class="photo-circle">
      <img class="profile-pic witt" src="https://static.igem.wiki/teams/4947/wiki/notebook/safety-form-lab-photos/witt.jpeg" alt="PNG Image">
 </div>
    <div class="card-info">
      <div class="card-name">Witt Phillips</div>
      <div class="card-yr-team">Dry Lab, 2026</div>
      <hr class="card-break">
      <div class="card-bio">
        Hello there! I study computation and cognition, with an emphasis on AI and neuromorphic design.
        I spent the last summer building this Wiki out of a tent while rock climbing across the country.
          </div>
    </div>
  </div>


  <div class="name-card">
    <div class="photo-circle">
      <img class="profile-pic" src="https://static.igem.wiki/teams/4947/wiki/notebook/safety-form-lab-photos/arjan.jpg" alt="PNG Image">
</div>
  <div class="card-info">
    <div class="card-name">Arjan Kohli</div>
    <div class="card-yr-team">Dry Lab, 2026</div>
    <hr class="card-break">
    <div class="card-bio">
      Hey all, I study Applied Mathematics concentrating in Machine Learning and Computational Neuroscience. I built the flask background for the wiki and trained machine learning models and flux balance optimizers for this year’s projects.
        </div>
  </div></div>

  <div class="name-card"><div class="photo-circle">
    <img class="profile-pic luis" src="https://static.igem.wiki/teams/4947/wiki/notebook/safety-form-lab-photos/luis.jpg" alt="PNG Image">
</div>
  <div class="card-info">
    <div class="card-name">Luis Zuñiga</div>
    <div class="card-yr-team">Team Lead, 2025</div>
    <hr class="card-break">
    <div class="card-bio">
      Hi! I am studying Chemical Engineerig and am very interested in the challenge of scaling up biology. A random fact about me is that I love hot sauce and have basically all my meals with it.
    </div>
  </div></div>
  
  <header class="team-header display-4">Mentors</header>

  <div class="mentor-card">
    <div class="card-name">Dr. Farren Isaacs, <span class="card-yr-team">Faculty Mentor</span></div>
  </div>

  <div class="mentor-card">
    <div class="card-name">Dr. Maria Moreno, <span class="card-yr-team">Faculty Mentor</span></div>
  </div>

  <div class="mentor-card">
    <div class="card-name">Maisha Prome, <span class="card-yr-team">Graduate Student Mentor</span></div>
  </div>

  <div class="mentor-card">
    <div class="card-name">Laura Quinto, <span class="card-yr-team">Graduate Student Mentor</span></div>
  </div>

  <div class="mentor-card">
    <div class="card-name">Akira Nakamura, <span class="card-yr-team">Graduate Student Mentor</span></div>
  </div>

  <div class="mentor-card">
    <div class="card-name">Peter Ciaccia, <span class="card-yr-team">Graduate Student Mentor</span></div>
  </div>
 
  <div class="mentor-card">
    <div class="card-name">Hassaan Qadir, <span class="card-yr-team">Undergraduate Mentor</span></div>
  </div>

  <div class="mentor-card">
    <div class="card-name">Ejaj Intisar, <span class="card-yr-team">iGEM Mentor</span></div>
  </div>



</div>
<div class="end-block"></div>
</div>
</div>

{% endblock %}
